<!DOCTYPE html>
<html>
<body>
 <h1>Errors</h1>

 <ul>
 {% for problem in problems %}
  <li class="problem-index-problem">
    <h3><a href="{% url 'v1-problem-details' problem.type %}">{{problem.name}}</a></h3>
    <p>{{problem.title}}</p>
  </li>
 {% endfor %}

</body>
</html>
