
body, html {
  font-family: sans-serif;
}

.logo-container {
  text-align: center;
}

.logo-container img {
    height: 600px;
}

.logo-partner {
  width: 130px;
  margin-left: 50px;
  margin-right: 50px;
}

.logo-amsix {
  width: 160px;
}

.logo-linx {
  width: 210px;
}

.partners-container {
  display: flex;

  align-items: center;
  justify-content: center;
}

.partners-container img {
  display: flex;
}

